/* ===== VARIÁVEIS ===== */

:root {
--preto: #0a0a0a;
--dourado: #c9a84c;
--dourado-claro: #f0d080;
--branco: #f5f5f5;
--cinza: #888;
}

/* ===== RESET ===== */

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: 'Georgina', serif;
  background-color: var(--preto);
  color: var(--branco);
}

/* ===== HEADER ===== */

header {
  min-heigth: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 24px;
  background: linear-gradient(
    135deg,
    #0a0a0a 0%,
    #1a1a1a 50%,
    #0a0a0a 100%,
    );
  position: relative;
}

header h1 {
  font-size: 64px;
  font-weigth: 900;
  letter-spacing: 12px;
  color: var(--dourado);
  text-transform: uppercase;
  margin-bottom: 16px;
}

header p {
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--cinza);
  margin-bottom: 48px;
}

header button {
  background: transparent;
  color: var(--dourado);
  border: 2px solid var(--dourado);
  padding: 16px 48px;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase; 
  cursor: pointer;
}

  
    
    
    
  
  
  
